@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #F66962;
    --secondary-Color: ;
    --text-Color: #0B0B0B;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #FAAF3A;
    --error-Color: #F94C10;
    --grey-Color: #959595;
    --black-Color: #11111D;
    --main-Background-Color: #EFEFF7;
    --secondary-Background-Color:#282834;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 9px 32px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --logo-border-radius: 15px;
    --jumbotron-padding: 30px 16px;
    --section-padding:30px 0px;
    --heading:50px;
    --heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
}

/*headerco89zzc25hp*/
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link{
    color: #8D89A9;
}
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link:focus, 
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-Background-Color);
}
.headerco89zzc25hp .RegBtn{
    font-weight: var(--button-font-weight);
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
    padding: var(--button-padding);
}
/*aboutd1e3f52aae36e7047*/
.aboutd1e3f52aae36e7047{
    background-color: var(--secondary-Background-Color);
}
.aboutd1e3f52aae36e7047 .bg-white {
    background-color: var(--secondary-Background-Color) !important;
}
.aboutd1e3f52aae36e7047 .DescriptionHeading {
    font-size: var(--heading);
    color: var(--main-Background-Color);
}
.aboutd1e3f52aae36e7047 .DescriptionPara{
    color: var(--main-Background-Color);
    font-size: var(--paragraph);
}
.aboutd1e3f52aae36e7047 .text-secondary {
    display: none;
}
.aboutd1e3f52aae36e7047 .btn-outline-secondary,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:hover,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active
{
    background-color: var(--primary-Color);
    color: var(--white-Color);
    font-weight: var(--button-font-weight);
    border: none;
}
.aboutd1e3f52aae36e7047 .form-control:focus{
    border: none;
}
/*aboutab8dfbbd4bed*/
.aboutab8dfbbd4bed .Explore{
    font-weight: var(--button-font-weight);
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
    padding: var(--button-padding);
}
.aboutab8dfbbd4bed .description{
    font-size: var(--heading);
}
.aboutab8dfbbd4bed .para{
    font-size: var(--paragraph);
}
/*fayete8bna5e4lc*/
.fayete8bna5e4lc .fdb-block .fdb-box{
    padding: 1.75rem 2.5rem;
}
.fayete8bna5e4lc h2{
font-size: var(--heading-two);
}
.fayete8bna5e4lc .fdb-block .fdb-touch{
    border-top: solid 0.2rem var(--success-Color);
}
.fayete8bna5e4lc a,
.fayete8bna5e4lc a:hover{
    color: var(--secondary-Background-Color);
    font-weight: var(--button-font-weight);
}
/*teamtm1gfnkqj1t*/
.teamtm1gfnkqj1t h1 {
    font-size: var(--heading-large);
}
.teamtm1gfnkqj1t .fdb-block {
    padding: 0rem 0;
}
.teamtm1gfnkqj1t .fdb-block img + h3{
    font-size: var(--heading-two);
}
/*blogec6cc8e186617bf6*/
.blogec6cc8e186617bf6 .blog-home3 .my-3{
font-size: var(--heading);
}
.blogec6cc8e186617bf6 .blog-home3 .subtitle{
    color: var(--black-Color);
}
.blogec6cc8e186617bf6 .blog-home3 .bg-success-gradient{
    background: linear-gradient(to bottom, var(--success-Color) 88%, var(--main-Background-Color) 100%);
}
/*testimonialprz03sp248l*/
.testimonialprz03sp248l h1{
    font-size: var(--heading);
}
.testimonialprz03sp248l .mt-5{
    margin-top: 0rem !important;
}
.testimonialprz03sp248l .h4{
    font-size: var(--heading-two);
}
.testimonialprz03sp248l .logo {
    margin-top: 10px;
}
@media (min-width: 1200px){ 
.testimonialprz03sp248l .mt-xl-5, 
.testimonialprz03sp248l .my-xl-5 {
    margin-top: 1rem !important;
}
}
/*aboutd390a380620aac0e*/
.aboutd390a380620aac0e{
    padding: 5rem;
}
.aboutd390a380620aac0e h2 {
    font-size: var(--heading);
}
.aboutd390a380620aac0e .video_card>.btn {
    background: var(--primary-Color);
    box-shadow: 0px 0px 0px 8px var(--success-Color);
    color: var(--main-Background-Color);
}
/*footerb6c9fcc0294384085*/
.footerb6c9fcc0294384085 footer{
    background: var(--secondary-Background-Color);
}
.footerb6c9fcc0294384085 .h3{
    font-size: var(--heading-two);
    color: var(--white-Color);
}
.footerb6c9fcc0294384085 .form-control:focus {
    background: var(--white-Color);
}
.footerb6c9fcc0294384085 button {
    color: var(--white-Color);
}
.footerb6c9fcc0294384085 .mini-footer p a {
    color: var(--success-Color);
}